<form id=formId (ngSubmit)="submitForm()" #contactForm="ngForm">
    <div class="form-group">
        <label for="contact-name">Name:</label>
        <input type="text" #contactName="ngModel" [(ngModel)]="contact.name" [ngClass]="{ 'is-invalid': contactName.invalid && contactName.touched }" required class="form-control" name="contact-name" id="contact-name">
        <div class="invalid-feedback">
            Please provide valid name.
        </div>
    </div>
    <div class="form-group">
        <label for="contact-email">Email:</label>
        <input type="email" #contactEmail="ngModel" [(ngModel)]="contact.email" appEmailFormat [ngClass]="{ 'is-invalid': contactEmail.invalid && contactEmail.touched }" required class="form-control" name="contact-email" id="contact-email">
        <div class="invalid-feedback">
            Please provide valid email address.
        </div>
    </div>
    <div class="form-group">
        <label for="contact-message">Message:</label>
        <!-- <input type="text" #contactMessage="ngModel" [(ngModel)]="contact.message" required class="form-control" name="contact-message" id="contact-message"> -->
        <textarea #contactMessage="ngModel" [(ngModel)]="contact.message" class="form-control" name="contact-message" id="contact-message"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!contactForm.form.valid" class="btn btn-success">Send</button>
        <!-- <button type="submit" class="btn btn-success">Send</button> -->
    </div>
</form>