<mat-sidenav-container class="example-container">
    <mat-sidenav #sideNav mode="push">

        <div class="container" style="margin-top: 50px;">
            <h5>Menu</h5>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a *ngFor="let link of navLinks" class="nav-link" data-toggle="pill" role="tab" [routerLink]="link.path" [routerLinkActive]="'active'">{{ link.label | uppercase }}</a>
            </div>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <header class="white">

            <div class="container white">
                <h1>LOGO</h1>
            </div>
            <nav mat-tab-nav-bar>
                <a mat-tab-link (click)="sideNav.toggle()" class="sidenav-trigger">MENU</a>
                <div class="container hide-on-med-and-down">
                    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
                      {{ link.label | uppercase }}
                    </a>
                </div>
            </nav>

        </header>

        <main>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </main>

        <footer class="center">
            <span>Powered by PSG</span>
        </footer>

    </mat-sidenav-content>
</mat-sidenav-container>