nav {
    height: 49px;
    background-color: white;
    border-bottom: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

:host /deep/ .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: darkorange;
    height: 3px;
}

:host /deep/ .mat-tab-links {
    height: 49px;
}

:host /deep/ .mat-tab-link.mat-tab-label-active {
    color: darkorange;
}

footer {
    background-color: #282828;
    height: 100px;
    color: #939393;
    flex-shrink: 0;
}

footer span {
    position: relative;
    width: 20%;
    top: 50%;
}

h1 {
    margin-top: 0px;
    padding-top: 2.8rem;
}

.activeSideLink {
    color: red;
}

mat-sidenav {
    width: 200px;
}