<!--The content below is only a placeholder and can be replaced.-->
<header>
    <!-- <div class="container">
        <div class="page-header">
            <div class="app-header"> -->
    <!-- <div [routerLink]="['']" class="btn">
                    <h1 style="display: inline-block">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                            style="width: 65px;"> PGS Software
                    </h1>
                </div> -->
    <!-- bootstrap -->
    <!-- <ul class="nav">
                    <li class="nav-item"><a [routerLink]="'about'" [routerLinkActive]="'active'" class="nav-link">about us</a></li>
                    <li class="nav-item"><a [routerLink]="'skicams'" [routerLinkActive]="'active'" class="nav-link">skicams</a></li>
                    <li class="nav-item"><a [routerLink]="'contact'" [routerLinkActive]="'active'" class="nav-link">contact</a></li>
                </ul> -->
    <!-- materialize -->

    <!-- <nav class="nav-extended white">
        <div class="container">
            <div class="nav-wrapper">
                <a [routerLink]="['']" class="brand-logo">Logo</a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a [routerLink]="'about'" [routerLinkActive]="'active'">about us</a></li>
                    <li class="tab"><a [routerLink]="'skicams'" [routerLinkActive]="'active'">skicams</a></li>
                    <li class="tab"><a [routerLink]="'contact'" [routerLinkActive]="'active'">contact</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="container white">
        <h1>LOGO</h1>
    </div>
    <nav mat-tab-nav-bar>
        <div class="container">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
              {{ link.label | uppercase }}
            </a>
        </div>
    </nav>

    <!-- </div>
        </div>
    </div> -->
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>