<div class="row">
    <!-- <div *ngFor="let skiCam of skiCams" class="col-sm-6 col-md-6 col-lg-6"> -->
    <div *ngFor="let skiCam of skiCams" class="col s6">
        <!-- <h5>{{ skiCam.name }}</h5>
        <app-cams [cams]="skiCam.cams"></app-cams> -->
        <mat-card>

            <mat-card-content>
                <p>{{ currentDate | date:"dd-MM-yyyy" }}</p>
                <mat-card-title class="center">{{ skiCam.name }}</mat-card-title>
                <app-cams [cams]="skiCam.cams"></app-cams>
            </mat-card-content>
        </mat-card>
    </div>
</div>